body {
    background-image: linear-gradient(100deg,rgba(198, 199, 155, 0.644),rgba(168, 235, 255, 0.61)) !important;
    color: rgb(43, 42, 42);
    font-family: cursive;
}

header {
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.7rem;
    font-weight: bold;
}

.box-style {
    background-color: white;
    display: flex;
    /* margin: 180px 500px auto;
    height: 240px;
    width: 240px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.section-style {
    background-color: rgb(0, 116, 131);
    height: 76px;
    width: 76px;
    border: 2px solid rgba(254, 255, 239, 0.973);
}

.section-style:hover {
    cursor: pointer;
}

span {
    color:white;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
}

footer {
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 0.7rem;
    font-weight: bold;
    font-style: italic;
    color: rgb(80, 95, 117);
}

#alertbox {
    display: flex;
    position: absolute;
    top: 40%;
    left: 37.5%;
    transform: translate(-50%,-50%);
    z-index: 9999;
}

.box-alert {
    position: absolute;
    background-color: rgb(243, 144, 144);
    min-width: 300px;
    border-radius: 10px;
    border: 2px solid ghostwhite;
    color: rgba(16, 43, 16, 0.829);
    padding: 15px;
    font-size: 2rem;
}

.btn-close {
    position: relative;
    cursor: pointer;
    padding: 0 0px 5px 60px;
    font-size: 1.3rem;
    font-weight: bolder;
}

.btn-close:hover {
    font-size: 1.4rem;
}