body {
    background-image: linear-gradient(60deg,rgba(248, 250, 154, 0.514),rgba(168, 235, 255, 0.658)) !important;
    color: rgb(43, 42, 42);
    font-family: cursive;
}

header {
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.8rem;
    font-weight: bold;
}

.desc {
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1rem;
}

.box-style {
    background-color: white;
    display: flex;
    /* margin: 180px 500px auto;
    height: 240px;
    width: 240px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.section-style {
    background-color: rgb(0, 116, 131);
    height: 76px;
    width: 76px;
    border: 2px solid rgba(254, 255, 239, 0.973);
    cursor: initial;
}

span {
    color:white;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
}

footer {
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 0.7rem;
    font-weight: bold;
    font-style: italic;
    color: rgb(80, 95, 117);
}

#playerselect {
    display: flex;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9999;
}

.box-player {
    position: relative;
    text-align: center;
    background-color: rgb(243, 144, 144);
    min-width: 180px;
    border-radius: 10px;
    border: 2px solid ghostwhite;
    color: rgba(16, 43, 16, 0.829);
    padding: 10px;
    font-size: 1.3rem;
    margin: 5px;
}

.player-score {
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-size: 2rem;
    color: white;
}

.player-score:hover {
    color:rgb(199, 0, 0);
}

#alertbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9999;
}

.box-alert {
    display: flex;
    text-align: center;
    background-color: rgb(243, 144, 144);
    max-width: 400px;
    border-radius: 10px;
    border: 2px solid ghostwhite;
    color: rgba(16, 43, 16, 0.829);
    padding: 10px;
    font-size: 2rem;
}

.btn-close {
    position: relative;
    cursor: pointer;
    padding: 0 0px 5px 60px;
    font-size: 1.3rem;
    font-weight: bolder;
}

.btn-close:hover {
    color:rgb(199, 0, 0);
}

.hide-box {
    display: none !important;
}

#start-game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9999;
    background-color: #67ffab;
    min-width: 100px;
    border-radius: 10px;
    border: 4px solid rgb(1, 56, 51);
    color: #013833;
    padding: 15px;
    font-size: 2rem;
    font-weight: bolder;
    cursor: pointer;
}

#start-game:hover {
    color:#011d1a;
    border: 4px solid #011d1a;
    font-size: 2.5rem;
}